body {
  font-family: Avenir;
}

nav {
  display: inline-block;
  width: 100%;
}

nav a {
  text-decoration: none;
  width: 24%;
  display: inline-block;
}

nav button {
   text-decoration: none;
   width: 24%;
   display: inline-block;
}

#staffs {
  text-align: center;
}

img {
  width: 75%;
  height: auto;
}

figcaption {
  font-style: italic;
}