body {
  font-family: Avenir;
}

img {
  width: 70%;
  height: 75%;
  float: left;
  margin-right: 10px;
}

a {
  color: grey;
}

a:hover {
  color: black;
}

#description-title {
  text-align: center;
}
